In [1]:
import pandas as pd
import numpy as np
import csv
import itertools
from itertools import chain

### Import csv file

In [2]:
df = pd.read_csv("social_analysis_data_jan_2020.csv", encoding = 'latin-1')

In [3]:
df.head()

   respondent                                        influencers
0           2  'Rachel Schneider','Virginia Eubanks','Robin B...
1           3  'Tomer Sharon','Tamara Hale','Sam Ladner','Cyd...
2           4                    'Tomer Sharon','Steve Portigal'
3           5  'Andy Warr','Susan Portalupi','Saswati Saha Mi...
4           6   'Saikat Mandal','Andrea Sutton','Jonathan Knopf'

### Examine number of rows and columns in dataframe

In [4]:
df.shape

(175, 2)

### Count number of names per row

In [5]:
df['names'] = df.influencers.str.count(',')+1

In [6]:
df.head()

   respondent                                        influencers  names
0           2  'Rachel Schneider','Virginia Eubanks','Robin B...      3
1           3  'Tomer Sharon','Tamara Hale','Sam Ladner','Cyd...      9
2           4                    'Tomer Sharon','Steve Portigal'      2
3           5  'Andy Warr','Susan Portalupi','Saswati Saha Mi...      4
4           6   'Saikat Mandal','Andrea Sutton','Jonathan Knopf'      3

### Number of unique names in list

In [7]:
df['influencers'].nunique()

171

In [8]:
def name_count(df):
    #splits list of names into pandas series of lists
    influencers = df.influencers.str.split(',')
    #splits series into list of lists
    influencers = influencers.tolist()
    #flattens list
    newlist = list(chain(*influencers))
    #list to pandas series
    influencers = pd.Series(newlist)
    #value count of occurences
    return influencers.value_counts()

In [9]:
name_count(df)

'Steve Portigal'              30
'Erika Hall'                  20
'Indi Young'                  18
'Tomer Sharon'                15
'Jared Spool'                 11
'Don Norman'                   9
'Jakob Nielsen'                8
'Sam Ladner'                   8
'Jeff Sauro'                   7
'Steve Krug'                   7
'Kate Towsey'                  5
'Vivianne Castillo'            5
'Kat Holmes'                   5
'Kim Goodwin'                  5
'Jan Chipchase'                5
'Elizabeth Churchill'          4
'Susan Weinschenk'             4
'Leah Buley'                   4
'Leisa Reichelt'               4
'Ginny Redish'                 4
'Mike Monteiro'                4
'Tricia Wang'                  4
'Jeff Gothelf'                 4
'John Cutler'                  3
'Alan Cooper'                  3
'Dan Ariely'                   3
'Laura Klein'                  3
'Sara Wachter-Boettcher'       3
'Peter Morville'               3
'Abby Covert'                  3
                              ..
'Joe Munko'                    1
'Martin Booth'                 1
'Paivi Voima'                  1
'Simon Sinek'                  1
'Angela Blackwell Glover'      1
'Kelly Moran'                  1
'Joseph Lindley'               1
'Gordan Pask'                  1
'Peter Winstanley'             1
'Will Critchlow'               1
'Kenny Werner'                 1
'Gia Laudi'                    1
'Daniel Szuc'                  1
'Arin Bhowmick'                1
'Dan Lockton'                  1
'Mary Sorber'                  1
'Donald Norman'                1
'Philip Tetlock'               1
'Erving Goffman'               1
'OD Ntuk'                      1
'Shalom Finch'                 1
'Hernan Marchant'              1
'Shamus Khan'                  1
'Catherine Sheldrick Ross'     1
'J Vincent Kim'                1
'Mary Elizabeth Sullivan'      1
'Cassie Kozyrkov'              1
'Dan Szuc'                     1
'Renae Kemp'                   1
'Michael Silverman'            1
Length: 652, dtype: int64