In [1]:
import pandas as pd
import numpy as np
import csv
import itertools
from itertools import zip_longest

In [2]:
df = pd.read_csv("social_analysis_data_jan_2020.csv", encoding = 'latin-1')

In [3]:
df.head()

   Respondent #                                        Influencers
0           149    'Horst Willhelm, Jakob Rittel, Sherry Arnstein'
1            85                                      'Alan Siegel'
2           194  'Nalini Kotamraju, Charlotte Swan, Norbert Pod...
3           180  'Benjamin Evans, Laura Kalbag, Nanako Era, Viv...
4           221  'Erika Hall, Brene Brown, Dan Brown, Kevin Hof...

In [4]:
import networkx as nx