In [1]:
import pandas as pd
import numpy as np
import csv
import itertools
from itertools import zip_longest

### Import csv file

In [11]:
df = pd.read_csv("social_analysis_data_jan_2020.csv", encoding = 'latin-1')

In [3]:
df.head()

   respondent                                        influencers
0           2  'Rachel Schneider',' Virginia Eubanks',' Robin...
1           3  'Tomer Sharon',' Tamara Hale',' Sam Ladner',' ...
2           4                   'Tomer Sharon',' Steve Portigal'
3           5  'Andy Warr',' Susan Portalupi',' Saswati Saha ...
4           6  'Saikat Mandal',' Andrea Sutton',' Jonathan Kn...

### Examine number of rows and columns in dataframe

In [4]:
df.shape

(175, 2)

### Count number of names per row

In [5]:
df['names'] = df.influencers.str.count(',')+1

In [6]:
df.head()

   respondent                                        influencers  names
0           2  'Rachel Schneider',' Virginia Eubanks',' Robin...      3
1           3  'Tomer Sharon',' Tamara Hale',' Sam Ladner',' ...      9
2           4                   'Tomer Sharon',' Steve Portigal'      2
3           5  'Andy Warr',' Susan Portalupi',' Saswati Saha ...      4
4           6  'Saikat Mandal',' Andrea Sutton',' Jonathan Kn...      3

### Number of unique names in list

In [13]:
df['influencers'].nunique()

171

In [15]:
idx = pd.Index.influencers

AttributeError: type object 'Index' has no attribute 'influencers'